MyApp-*
.*
!.gitignore
!.maltsconfig
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.yml
MYMETA.yml
MYMETA.json
inc/
*.out
*.bak
*.old
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
*.swp
misc/
cover_db/
log/
config/*.pl
!config/*_sample.pl
